@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./css/font.css";

  :root {
    --primary-color: #113cb4;
    --primary-background-color: #f9f9f9;
    --secondary-background-color: #eee;
    --primary-border-color: #767676;
  }
}

* {
  box-sizing: border-box;
  font-family: "pretendard";
}

html,
body {
  padding: 0;
  margin: 0 auto;
  min-width: 360px;
  max-width: 450px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  list-style: none;
}

body > div#root {
  /* overflow: hidden; */
}

&::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
